# Tipos de dados compostos
São estruturas de dados que englobam varios dados.
Exitem 5 tipos de compostos de estrutura de dados: 
 - Lista
 - Tuplas
 - Conjuntos
 - Dicionários
 - Intervalo

## Listas (list)

- Elementos inseridos em uma lista com posição;
- Possuí estrutura composta e aceitam mais de um tipo de dados;
- Acrescenta elementos novos no final da lista
- Strings podem de comportar como listas

In [9]:
#Declaração:
lista1 = list()
lista2 = []

print('lista1: ',type(lista1))
print('lista2: ',type(lista2))

lista1:  <class 'list'>
lista2:  <class 'list'>

In [10]:
#Atribuindo valores:
lista1 = [1, 'Texto', 3.1, True]
lista2 = list([2, 'Texto', 3.1, True])
print(lista1)
print(lista2)

[1, 'Texto', 3.1, True]
[2, 'Texto', 3.1, True]

In [11]:
#Adicionar elemento:
lista1.append("Valor Adicionado")
lista1

[1, 'Texto', 3.1, True, 'Valor Adicionado']

In [12]:
#remover elemento:
del lista1[4]
lista1

[1, 'Texto', 3.1, True]

In [13]:
#tamanho da lista:
len(lista1)

4

In [14]:
#imprimir uma posição da lista:
lista1[1]

'Texto'

***Iterando a Lista e tupla***

Sempre que passar a lista como parametro para um print ele vai mostrar a lista com os [], para que possamos listar a lista mostranto um elemeto por vez podemos utilizar o comando ***for*** que faz a iteração colocando o valor da posição em uma variavel temporária.

In [16]:
for aux in lista1:
    print(aux)

1
Texto
3.1
True

## Tuplas (tuple)

- Semelhante a lista, mas é Imutável, ou seja uma vez  definido não se pode alterar;
- Estrutura composta, aceita mais de um tipo de dado

In [2]:
#Declaração
tp1 = tuple()
tp2 = ()

print('tp1: ',type(tp1))
print('tp2: ',type(tp2))

tp1:  <class 'tuple'>
tp2:  <class 'tuple'>

In [3]:
#Atribuindo valores:
tp1 = ('Olá', 3, 3.1, True)
tp2 = 'Olá', 4, 3.1, True
tp3 = tuple(['Olá', 5, 3.1, True])

print(tp1)
print(tp2)
print(tp3)

('Olá', 3, 3.1, True)
('Olá', 4, 3.1, True)
('Olá', 5, 3.1, True)

In [4]:
#listar posição
tp1[0]

'Olá'

In [5]:
#Tamanho
len(tp1)

4

In [3]:
#erro ao adionar
tp1.append("Valor Adicionado")
tp1

NameError: name 'tp1' is not defined

## Conjuntos (Set)

- Diferete das tuplas e listas os conjuntos não tem ordem ou posição dos elementos ex. list1[0];
- Sem elementos repetidos;
- Aplica-se o conceito da teoria dos conjuntos;

In [ ]:
#declaração
conjuntoA = set()
conjuntoB = {} ##declarar conjunto vazio
conjuntoC = {1, "A", 1 } 

#será desconsiderado os valores repetidos
conjuntoC

{1, 'A'}

Exemplo de erro ao tentar imprimir uma posição

In [5]:
conjuntoC[0]

TypeError: 'set' object is not subscriptable

In [9]:
#Adicionando elementos:
conjuntoA.add(1)
conjuntoA.add(3)
conjuntoA.add(5)

conjuntoA

{1, 3, 5}

In [11]:
#removendo elemento:  só é possível remover utilizando o remove que passa como parametro o valor, não sendo possível utilizar o .pop() que recebe como parametro a posição.
conjuntoA.remove(5)
conjuntoA

{1, 3}

### Teoria dos conjuntos
  
É possivel realizar operações de conjunção, disjunção e intersecção

* Conjunção  
A operação de conjunção irá unir dois conjuntos mantendo valores únicos caso tenha valores que se repitam.

In [19]:
print("Conjunto A:",conjuntoA)
print("Conjunto C:",conjuntoC)

conjuntoB = conjuntoA.union(conjuntoC)

conjuntoB

Conjunto A: {1, 3}
Conjunto C: {1, 'A'}

{1, 3, 'A'}

* Disjunção  
A operação de disjunção irá retornar somente o que o conjunto possuí e que não esteja no segundo conjunto

In [20]:
print("Conjunto A:",conjuntoA)
print("Conjunto C:",conjuntoC)

conjuntoB = conjuntoA.difference(conjuntoC)

conjuntoB

Conjunto A: {1, 3}
Conjunto C: {1, 'A'}

{3}

* Intersecção  
A operação de intersecção retorna apenas o que foi encontrado nos dois conjuntos.

In [21]:
print("Conjunto A:",conjuntoA)
print("Conjunto C:",conjuntoC)

conjuntoB = conjuntoA.intersection(conjuntoC)

conjuntoB

Conjunto A: {1, 3}
Conjunto C: {1, 'A'}

{1}

## Dicionário (Dict)

Dicionários organizam os dados em chave e valor, diverente de listas e tuplas que organizam por posição.

In [60]:
#Declaração

contatos = {"nome": "Joao Dev", "idade":22}

#dicionário vazio
x = dict() 
x = ()

contatos

{'nome': 'Joao Dev', 'idade': 22}

In [61]:
#chaves
print(contatos.keys())

#valores
print(contatos.values())

#imprimindo valor referente a chave "nome"
contatos["nome"]

dict_keys(['nome', 'idade'])
dict_values(['Joao Dev', 22])

'Joao Dev'

In [62]:
#adiionando novas chaves 
contatos["email"] = "joao@gmail.com"

contatos

{'nome': 'Joao Dev', 'idade': 22, 'email': 'joao@gmail.com'}

In [63]:
#pode receber uma lista, tupla como valor
contatos["geo"]=[-52.4, 53.8]

print(contatos)

print("Longitude", contatos['geo'][0])

{'nome': 'Joao Dev', 'idade': 22, 'email': 'joao@gmail.com', 'geo': [-52.4, 53.8]}
Longitude -52.4

In [64]:
#uma chave pode receber um dicoinário como valor
contatos["geo"]={"lat":-52.4,  "long": 53.8}

print("Longitude", contatos['geo']['long'])

Longitude 53.8

In [ ]:
#remover key
contatos.pop("geo")

contatos

{'nome': 'Joao Dev', 'idade': 22, 'email': 'joao@gmail.com'}

## Intevalos (Range)

Gera um intervalo de valores ex: Range(inicio, fim, passos)

In [72]:
#valores de 2 em 2 iniciando de 2 até 18
valores = list(range(2,19, 2))
print(valores)

#valores de 1 a 1 quando não passa o último parâmetro
valores = list(range(2,19))
print(valores)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]